body, div, h1, h2, h3, h4, h4, h6, p, ul, ol, li, dl, dt, dd, img, form{
    margin: 0; padding: 0; border: 0;
}

body {  
    font-family: Frank Ruhl Libre;
    height: 100%;
}

/* Header */
header {
    height: 60px;
    background: #919191;
    width: 100%;
    z-index: 10;
    position: fixed;
    opacity: 0.9;
}

.container{ 
    min-height: 100%;
}

/* Banner */
.banner {
    width: 100%;
    height: 300px;
    position: fixed;
    top: 60px;
    background: gray;
}

.banner > .banner-image { 
    width: 150%;
    height: 400%;
    display: block; 
    position: absolute;
    bottom: -350px;
    min-width: 2100px;
}

.banner > h6 { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 70px;
}

.banner > h6:hover { 
    opacity: 0.9;
}

.banner > p { 
    position: absolute;
    top: 50%;
    left: 50%;
    top: 280px;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 20px;
}

/* Content */
.content {
    width: 100%;
    position: relative;
    top: 500px;
    background: #ebebeb;
    padding-bottom: 250px; /* Height of footer */
}

.section1 {
    height: 50vh;
    background: lightgray;
    box-sizing: border-box;
}

.section1 > p {
    color: darkslategray;
}

.section1 > p { 
    position: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10%; 
}

.section2 {
    height: 25vh;
    background: whitesmoke;
}

.section3 {
    height: 25vh;
    background: darkgray;
}

/* Nav Bar */
.nav {   
    background-color: #222226;
    color: black;
    list-style: none;
    text-align: right;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid black;
    opacity: 0.8;
}

.nav > .nav_buttons > li {  
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 13px;  
    opacity: 0.9;
}

.nav > .nav_buttons > li a {   
    text-decoration: none;
    color: white;
    border-bottom: 2px solid black;
    opacity: 0.9;
}

.nav > .nav_buttons:hover li {
    filter:blur(3px);
    opacity:.9;
    transform: scale(.99);
    box-shadow:none;
}

.nav > .nav_buttons > li:hover {
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
}

/* Logo Nav Bar */
.logo {
    float: left;
    padding-left: 50px;
    padding-top: 0px; 
}

.logo_name {
    color:white;
    float: left;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 2vw;
    font-weight: 100;  
}

.logo_name > a { 
    text-decoration: none;
    color: white; 
}

.logo_name > a:hover { 
  color:blue; 
}

/* Side Bar */
.wrapper { 
    display: flex;
    /*justify-content: space-between;*/    
  }

.postContainer {  
    margin: 20px 20px 0 0;  
    overflow: auto;      
}
  
.postContent {  
    margin-left: 210px;       
}

.sidebar {
    padding-top: 20px;
    padding-right: 35px;
    padding-left: 35px;
    width: 175px;
    height: 400px;
    opacity: 0.5;
    float: left;
    left: 0;   
}
  
.sidebar:hover {    
    opacity: 1;   
}
  
.sidebar {   
    position: -webkit-sticky;
    position: fixed;
    top: 400;
    left: 0;    
}
  
.sideProfile {   
      text-align:center;
      display:block;
      border-radius: 100%;
      margin-left: auto;
      margin-right: auto;
      height: 100px;
}
  
.sidebar > H2 {
      text-decoration: none;
      color: lightslategray;
      float: bottom;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 16px;
      text-align:center;
}
  
.sidebar > p {  
      text-decoration: none;
      color: lightslategray;
      float: bottom;
      padding-left: 25px;
      padding-top: 5px;
      font-size: 12px;
      border-right: 2px solid darkgrey;   
}
  
.sidebar > p > a{   
      text-decoration: none;
      color: lightslategray;
      float: bottom;
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 15px;
      color: lightslategray;
      font-size: 12px; 
      color: lightslategray;
      text-decoration: none;   
}
  
.sidebar > p > a:hover {   
      opacity: 0.5;   
}

.footer {  
    position: relative;
    bottom: -250px;
    width: 100%;
    height: 350px;
    /*background-color: whitesmoke;*/
    background-color: #222226;
    text-align: 20px;
    border-top: 2px solid whitesmoke; 
}

.footer > p {  
  text-decoration: none;
  color: gray;
  position: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
}

.footer > a {  
  text-decoration: none;
  color: lightslategray;
  position: center;
}

.footer > a:hover { 
  color:silver;  
}

.footer > .footer_quote {
  font-size: 30px;  
  color: white;
  position: center;
  text-align: center;
  padding: 40px 40px 40px 40px;
}

.footer > .footer_nav {
  background-color: #222226;
  list-style: none;
  position: center;
  text-align: center;
}

.footer > .footer_nav > li {  
  display: inline-block;
  padding: 0px 40px 40px 40px;
  font-size: 18px;  
  color: white;
}

.footer > .footer_nav > li a {  
  text-decoration: none;
  color: white;
  display: inline-block;
}

.footer > .footer_nav:hover li {
  opacity: .2;
}

.footer > .footer_nav li:hover {
  opacity: 1;
}

.footer > .footer_contacts{
  background-color: #222226;
  list-style: none;
  position: center;
  text-align: center;
}

.footer > .footer_contacts > a {  
  text-decoration: none;
  display: inline-block;
  padding: 0px 15px 0px 15px;
  color: white;

}

.footer > .footer_contacts:hover a {
  opacity: .2;
}

.footer > .footer_contacts a:hover {
  opacity: 1;
}

.wrapper { 
  display: flex;
}

.projects { 
    background-color: white;
	color: black;
    position: relative;
	padding: 20px;
	margin: 80px auto;
    padding-left: auto;
    opacity: 1;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px; 
}

.postContainer {
    margin: 20px 20px 20px 20px;  
    overflow: auto;		
}

.screen {	
	width: 600px; 
  	height: 400px;
	float: left;
	overflow: hidden;
    /*margin: 20px;*/
    background: #fff;
    cursor: pointer;
    padding-left: 30px;
}

.screen img, a img {
	transition: transform 1s ease-in-out 0.5s	
}

.screen:hover img, a:hover img{
    transform: translateX(30%);
}

.postContent {
    margin-left: 210px;	
}

.projects > .postContainer > .postContent > a {
    color: lightslategray;
    text-decoration-line: none;
	font-weight: bold;
    font-size: 125%;
}

.projects > .postContainer > .postContent > a:hover{
    opacity: 0.5;
}