body, div, h1, h2, h3, h4, h4, h6, p, ul, ol, li, dl, dt, dd, img, form{
    margin: 0 auto; padding: 0; border: 0; min-width: 10px;
}

body {  
    font-family: Frank Ruhl Libre;
    height: 100%;
}

/* -----------------------------------Header----------------------------------- */
header {
    height: 60px;
    background: #919191;
    width: 100%;
    z-index: 10;
    position: fixed;
    opacity: 0.9;
}

.container{ 
    min-height: 100%;
}

/* -----------------------------------Banner----------------------------------- */
.banner {
    width: 100%;
    height: 300px;
    position: fixed;
    top: 60px;
    background: gray;
}

.banner > .banner-image { 
    width: 150%;
    height: 400%;
    display: block; 
    position: absolute;
    bottom: -350px;
    min-width: 2100px;
}

.banner > h6 { 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 70px;
}

.banner > h6:hover { 
    opacity: 0.9;
}

.banner > p { 
    position: absolute;
    top: 50%;
    left: 50%;
    top: 280px;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-size: 20px;
}

/* -----------------------------------Content----------------------------------- */
.content {
    width: 100%;
    position: relative;
    top: 500px;
    background: #ebebeb;
    padding-bottom: 250px; /* Height of footer */
}

.section1 {
    height: 100vh;
    background: lightgray;
    box-sizing: border-box;
}

.section1 > p {
    color: black;
    position: center;
    padding-left: 20%;
    padding-right: 30%;
    padding-top: 10%; 
}

.section1 > .about_me_profile {
    height: 400px;
    width: 300px;
    float: left;
    padding-left: 10%;
    padding-top: 10%; 
    border-radius: 10%;
    margin-right: 30px;
}

.section2 {
    height: 50vh;
    background: whitesmoke;
}

.section2 > p {
    color: black;
}

.section3 {
    height: 50vh;
    background: lightgray;
}

.section3 > p {
    color: black;
}

/* -----------------------------------Nav Bar----------------------------------- */
.nav {   
    background-color: #222226;
    color: black;
    list-style: none;
    text-align: right;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid black;
    opacity: 0.8;
}

.nav > .nav_buttons > li {  
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 13px;  
    opacity: 1;
}

.nav > .nav_buttons > li a {   
    text-decoration: none;
    color: white;
    border-bottom: 0.2px solid white;
    opacity: 1;
}

.nav > .nav_buttons:hover li {
    opacity: 0.2;
}

.nav > .nav_buttons > li:hover {
    opacity: 1;
}
/* Blur
.nav > .nav_buttons:hover li {
    filter:blur(3px);
    opacity:.9;
    transform: scale(.99);
    box-shadow:none;
}

.nav > .nav_buttons > li:hover {
    transform:scale(1);
    filter:blur(0px);
    opacity:1;
}

.show_nav_button{
    display: none;
  }
   

  @media only screen and (max-width: 481px){
    .nav_buttons{
      display: none;
    }
   
    .show_nav_button{
      display: block;
      float: right;
    }
  }

  .show_nav_button {
    width: 25px;
    height: 2px;
    background-color: #ffffff;
  }
  */
/* -----------------------------------Logo Nav Bar----------------------------------- */
.logo {
    float: left;
    padding-left: 50px;
    padding-top: 0px; 
}

.logo_name {
    color:white;
    float: left;
    padding-left: 0px;
    padding-top: 0px;
    font-size: 2vw;
    font-weight: 100;  
}

.logo_name > a { 
    text-decoration: none;
    color: white; 
}

.logo_name > a:hover { 
  color:blue; 
}

/* -----------------------------------Side Bar----------------------------------- */
/* -----------------------------------What does this do?----------------------------------- */
.sideProfile {   
      text-align: center;
      display: block;
      border-radius: 100%;
      margin-left: auto;
      margin-right: auto;
      height: 75px;
}

/* -----------------------------------Footer----------------------------------- */

.footer {  
    position: relative;
    bottom: -250px;
    width: 100%;
    height: 450px;
    /*background-color: whitesmoke;*/
    background-color: #222226;
    text-align: 20px;
    border-top: 2px solid whitesmoke; 
}

.footer > .copyright {
    font-size: 30px;  
    color: white;
    position: center;
    text-align: center;
    padding: 40px 40px 0px 40px;
}
  
.footer > .copyright > p {  
    text-decoration: none;
    color: gray;
    position: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
}

.footer > .copyright > a {  
    text-decoration: none;
    color: lightslategray;
    position: center;
}
  
.footer > a:hover { 
    color:silver;  
}

.footer > .footer_quote {
    font-size: 30px;  
    color: white;
    position: center;
    text-align: center;
    padding: 40px 40px 40px 40px;
}

.footer > .footer_nav {
    background-color: #222226;
    list-style: none;
    position: center;
    text-align: center;
}

.footer > .footer_nav > li {  
    display: inline-block;
    padding: 0px 40px 40px 40px;
    font-size: 18px;  
    color: white;
}

.footer > .footer_nav > li a {  
    text-decoration: none;
    color: white;
    display: inline-block;
}

.footer > .footer_nav:hover li {
    opacity: .2;
}

.footer > .footer_nav li:hover {
    opacity: 1;
}

.footer > .footer_contacts{
    background-color: #222226;
    list-style: none;
    position: center;
    text-align: center;
}

.footer > .footer_contacts > a {  
    text-decoration: none;
    display: inline-block;
    padding: 0px 15px 0px 15px;
    color: white;

}

.footer > .footer_contacts:hover a {
    opacity: .2;
}

.footer > .footer_contacts a:hover {
    opacity: 1;
}




/*----------------------------------- Mobile ----------------------------------- */

  @media only screen and (max-device-width: 480px) {
    body, div, h1, h2, h3, h4, h4, h6, p, ul, ol, li, dl, dt, dd, img, form{
        margin: 0 auto; padding: 0; border: 0; min-width: 10px;
    }
    
    body {  
        font-family: Frank Ruhl Libre;
        height: 100%;
    }
    
    /* -----------------------------------Header----------------------------------- */
    header {
        height: 60px;
        background: #919191;
        width: 100%;
        z-index: 10;
        position: fixed;
        opacity: 0.9;
    }
    
    .container{ 
        min-height: 100%;
    }
    
    /* -----------------------------------Banner----------------------------------- */
    .banner {
        width: 100%;
        height: 300px;
        position: fixed;
        top: 60px;
        background: gray;
    }
    
    .banner > .banner-image { 
        width: 150%;
        height: 400%;
        display: block; 
        position: absolute;
        bottom: -350px;
    }

    .banner > a { 
        position: absolute;
        top: 50%;
        left: 50%;
        top: 75px;
        transform: translate(-50%, -50%);
        color: whitesmoke;
        font-size: 15px;
    }
    
    .banner > h6 { 
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: whitesmoke;
        font-size: 50px;
    }
    
    .banner > h6:hover { 
        opacity: 0.9;
    }
    
    .banner > p { 
        position: absolute;
        top: 50%;
        left: 50%;
        top: 280px;
        transform: translate(-50%, -50%);
        color: whitesmoke;
        font-size: 15px;
    }
    
    /* -----------------------------------Content----------------------------------- */
    .content {
        width: 100%;
        position: relative;
        top: 500px;
        background: #ebebeb;
        padding-bottom: 250px; /* Height of footer */
    }
    
    .section1 {
        height: auto;
        background: lightgray;
        box-sizing: border-box;
    }
    
    .section1 > p {
        color: black;
        position: center;
        padding: 20px 20px 20px 20px;
    }
    
    .section1 > .about_me_profile {
        height: 40%;
        width: 45%;
        float: left;
        padding-left: 10%;
        padding-top: 10%; 
        margin-right: 30px;
    }
    
    .section2 {
        height: 50vh;
        background: whitesmoke;
    }
    
    .section2 > p {
        color: black;
    }
    
    .section3 {
        height: 50vh;
        background: lightgray;
    }
    
    .section3 > p {
        color: black;
    }
    
    /* -----------------------------------Nav Bar----------------------------------- */
    .nav {   
        background-color: #222226;
        color: black;
        list-style: none;
        text-align: right;
        padding: 20px 0 20px 0;
        border-bottom: 2px solid black;
        opacity: 0.8;
    }

    .nav > .nav_drop_menu {
        float: right;
    }

    .nav > .nav_drop_menu > .bar1, .bar2, .bar3 {
        width: 40px;
        height: 4px;
        background-color: white;
        margin: 2px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }

    .change .bar2 {
        opacity: 0;
    }
  
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
    
    .nav > .nav_buttons > li {  
        display: inline-block;
        padding: 0 25px 0 25px;
        font-size: 5px;  
        opacity: 1;
    }
    
    .nav > .nav_buttons > li a {   
        text-decoration: none;
        color: white;
        border-bottom: 0.2px solid white;
        opacity: 1;
    }
    
    .nav > .nav_buttons:hover li {
        opacity: 0.2;
    }
    
    .nav > .nav_buttons > li:hover {
        opacity: 1;
    }
    
    /* -----------------------------------Logo Nav Bar----------------------------------- */
    .logo {
        float: left;
        padding-left: 50px;
        padding-top: 0px; 
    }
    
    .logo_name {
        color:white;
        float: left;
        padding-left: 10px;
        padding-top: 0px;
        font-size: 20px;
        font-weight: 100;  
    }
    
    .logo_name > a { 
        text-decoration: none;
        color: white; 
    }
    
    .logo_name > a:hover { 
      color:blue; 
    }
    
    /* -----------------------------------Side Bar----------------------------------- */
    /* -----------------------------------What does this do?----------------------------------- */
    .sideProfile {   
          text-align: center;
          display: block;
          border-radius: 100%;
          margin-left: auto;
          margin-right: auto;
          height: 0px;
    }
    
    /* -----------------------------------Footer----------------------------------- */
    
    .footer {  
        position: relative;
        bottom: -250px;
        width: 100%;
        height: 250px;
        /*background-color: whitesmoke;*/
        background-color: #222226;
        text-align: 20px;
        border-top: 0px solid whitesmoke; 
    }
    
    .footer > .copyright {
        background-color: #222226;
        list-style: none;
        position: center;
        text-align: center;
    }
      
    .footer > .copyright > p {  
        display: inline-block;
        padding: 0px 10px 0px 10px;
        font-size: 5px;
        color: gray;
    }
      
    .footer > a:hover { 
        color:silver;  
    }
    
    .footer > .footer_quote {
        font-size: 15px;  
        color: white;
        position: center;
        text-align: center;
        padding: 20px 20px 0px 20px;
    }
    
    .footer > .footer_nav {
        background-color: #222226;
        list-style: none;
        position: center;
        text-align: center;
    }
    
    .footer > .footer_nav > li {  
        display: inline-block;
        padding: 30px 10px 0px 10px;
        font-size: 12px;  
        color: white;
    }
    
    .footer > .footer_nav > li a {  
        text-decoration: none;
        color: white;
        display: inline-block;
    }
    
    .footer > .footer_nav:hover li {
        opacity: .2;
    }
    
    .footer > .footer_nav li:hover {
        opacity: 1;
    }
    
    .footer > .footer_contacts{
        background-color: #222226;
        list-style: none;
        position: center;
        text-align: center;
    }
    
    .footer > .footer_contacts > a {  
        text-decoration: none;
        display: inline-block;
        padding: 0px 15px 15px 15px;
        color: white;
        font-size: 20px;
    }
    
    .footer > .footer_contacts:hover a {
        opacity: .2;
    }
    
    .footer > .footer_contacts a:hover {
        opacity: 1;
    }
}